@import url('ficha-base.css');
:root{--bg:#0b0906;--panel:#0d0a08;--text:#f2ede2;--muted:#bba38d;--gold:#d49e6a;--accent:#bf2020;--border:rgba(255,255,255,.08);--gold-rgb:212,158,106;--accent-rgb:191,32,32;--gradient-pos:top left;--gradient-color:#53271a;--bg-dark:#050403}
